.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#NavBar {
    background-color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
}

#HighScores {
    float: left;
    text-align: center;
    margin-left: 3%;
}

#CountDown {
    float: right;
    text-align: center;
    margin-right: 3%;
}

a {
    color: purple;
  }

.container {
    margin-top: 4%;
}

#row1, #row2, #row4, #row5, #row6 {
    padding-top: 2%;
}

#Answer1, #Answer2, #Answer3, #Answer4 {
    visibility: hidden;
}

button {
    background-color: purple;
    color: white;
}

#Result {
    margin-top: 2%;
    font-style: italic;
}

#HighScoreTitle {
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
}

.tableEntry {
    width: 75%;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
    font-size: 18pt;
}

.names {
    float: left;
}

.scores {
    float: right;
}